body {
    font-family: 'Abel', sans-serif;
    background-color: lavenderblush;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 25px;
    background-color: lavenderblush;
    border: solid 5px #FFC2D6;
    height:auto;
    width: auto;
}

main#content{
  margin-top:20px;
  padding:20px;
  padding-left:10px;
  background-color: #FFF0F5;
  height: auto;
  width: inherit;
  border: solid 5px #FFC2D6;
}
h1, h2, h3 {
    font-family: 'Architects Daughter', cursive;
}
p{
  font-family: "courier new", bold:
}
iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: maroon;
}
